body {
    background-color: #eee;
    margin: 0;
}

* {
    box-sizing: border-box;
}
:before, :after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    font-family: Arial, verdana, tahoma, sans-serif;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    max-width: 850px;
    background-color: #fff;
    box-shadow: 0 0 10px 1px #ccc;
}

/* heading */
h2 {
    display:inline-block;
    font-size: 20px;
    margin: 10px 20px 10px 0;
}

/* form containers */
.opt-form {
    padding: 10px;
    background-color: #ffffff;
    overflow: hidden;
}

#url-list {
    margin: 20px 0;
}

/* input containers */
#url-list > div:last-of-type {
    margin-bottom: 0;
}

.input-container {
    margin: 10px 0;
}

.input-container label {
    display: inline-block;
    position: relative;
    width: 120px;
    margin-right: 20px;
    padding: 9px 0;
}

.input-container label .tooltip {
    position: absolute;
    top: 10px;
    right: 0px;
}

.input-container label input[type=checkbox] {
    margin: 0 0 0 10px;
}

.input-container.short input[type=text] {
    width: 50%;
}

input[type=url],
input[type=text] {
    width: 90%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #ddd;
    height: 37px;
    padding: 2px 0 2px 10px;
    font-size: 14px;
    margin: 2px 0;
}

input[type=url]:hover, input[type=text]:hover,
input[type=url]:focus, input[type=text]:focus,
input[type=url]:active, input[type=text]:active {
    outline: none;
    border: 1px solid #ccc;
}

/* buttons */
button {
    font-family: Arial, verdana, tahoma, sans-serif;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    border: none;
    padding: 10px;
}
button:disabled {
    opacity: 0;
}
button:active, button:focus {
    outline: none;
}

.add,
.remove {
    float: right;
    padding: 8px 15px;
    color: #eee;
}

.remove {
    background-color: #dd5e57;
}
.remove:hover {
    background-color: #c06052;
}

.green {
    font-weight: bold;
    background-color: #5dd16a;
}

.green:hover {
    background-color: #53b65b;
}

.icon-button {
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}

#save {
    float: right;
    padding: 10px 20px;
    font-size: 14px;
}

.save-action {
    overflow: auto;
}
.note {
    padding: 20px 0;
    color: #666;
}
.note#status {
    float: right;
    color: #076825;
    padding: 12px 2px;
    font-size: 14px;
}

hr {
    margin: 40px 0 0 0;
}

/* Description */
.description {
    font-size: 14px;
    color: #696969;
    width: 85%;
    margin: 10px auto 30px auto;
    min-height: 150px;
    padding: 15px 15px 15px 150px;
    line-height: 25px;
    box-shadow: 0 0 10px 1px #ccc;
    background: url('../images/crazy_chicken_hungry_128.png') no-repeat 3px 10px;
}

/* --- TOOLTIP --- */
.tooltip {
    text-align: center;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    width: 14px;
    height: 14px;
    background-color: #ccc;
    color: #fff;
    display: inline-block;
    position: relative;
    font-size: 12px;
}
.tooltip:hover > span {
    display: block;
}
.tooltip > span {
    display: none;
    position: absolute;
    top: -20px;
    left: 18px;
    padding: 10px;
    font-size: 13px;
    color: #000;
    background-color: #fff;
    text-align: left;
    width: 200px;
    border: 1px solid #ccc;
}
