body {
    background-color: #eee;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    font-family: Arial, verdana, tahoma, sans-serif;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    max-width: 850px;
    background-color: #ffffff;
}

/* heading */
h2 {
    display:inline-block;
    font-size: 20px;
    margin: 10px 20px 10px 0;
}

/* form containers */
.opt-form {
    padding: 10px;
    background-color: #ffffff;
    overflow: hidden;
}

#url-list {
    margin: 20px 0;
}

/* input containers */
#url-list > div:last-of-type {
    margin-bottom: 0;
}

.input-container {
    margin: 10px 0;
    overflow: auto;
}

input[type=url]{
    width: 93%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #ddd;
    height: 36px;
    padding: 2px 0 2px 10px;
    font-size: 14px;
    margin: 2px 0;
}

input[type=url]:hover {
    border: 1px solid #ccc;
}

/* buttons */
button {
    font-family: Arial, verdana, tahoma, sans-serif;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    border: none;
    padding: 10px;
}
button:disabled {
    opacity: 0;
}
button:active, button:focus {
    outline: none;
}

.remove {
    float: right;
    padding: 8px 15px;
    background-color: #dd5e57;
    color: #eee;
}

.remove:hover {
    background-color: #c06052;
}

.green {
    font-weight: bold;
    background-color: #5dd16a;
}

.green:hover {
    background-color: #53b65b;
}

.icon-button {
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}

#save {
    float: right;
    padding: 10px 20px;
    font-size: 14px;
}

.save-action {
    overflow: auto;
}

#status {
    float: left;
    padding: 20px 0;
    color: #666;
}

#status.saved {
    color: #076825;
    padding: 10px;
}
